.navbar {
	background-color:#2D3337;
	#account-management-ul {
		padding-top: 15px;
		color: white;
		.account-management-li {
			padding-right: 15px;
		}
	}
	.navbar-header{
		.navbar-brand{
			color: white;
		}
	}
}
